services:
  nextcloud:
    image: nextcloud:${NC_VERSION:-32}
    ports:
      - "8080:80"
    volumes:
      - nextcloud_data:/var/www/html
      - .:/var/www/html/custom_apps/integration_signd
    environment:
      - POSTGRES_HOST=db
      - POSTGRES_DB=nextcloud
      - POSTGRES_USER=nextcloud
      - POSTGRES_PASSWORD=nextcloud
      - NEXTCLOUD_ADMIN_USER=admin
      - NEXTCLOUD_ADMIN_PASSWORD=admin
      - NEXTCLOUD_TRUSTED_DOMAINS=localhost
      - SIGND_BASE_URL=http://host.docker.internal:7755
    extra_hosts:
      - "host.docker.internal:host-gateway"
    depends_on:
      db:
        condition: service_healthy

  db:
    image: postgres:16-alpine
    ports:
      - "5433:5432"
    environment:
      - POSTGRES_DB=nextcloud
      - POSTGRES_USER=nextcloud
      - POSTGRES_PASSWORD=nextcloud
    volumes:
      - db_data:/var/lib/postgresql/data
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U nextcloud"]
      interval: 5s
      timeout: 5s
      retries: 5

volumes:
  nextcloud_data:
    name: integration_signd_nextcloud_${NC_VERSION:-32}
  db_data:
    name: integration_signd_db_${NC_VERSION:-32}
